In [7]:
import pandas as pd

df = pd.read_csv("game_data.csv")
print("\n Given Play Golf Dataset:\n\n", df)

 Given Play Golf Dataset:

        Position Champ_Name  Champ_ID  item0  item1  item2  item3  item4  \
0           TOP       Gwen       887   4633   3115   2421   3916   1055
1        JUNGLE    XinZhao         5   6333      0   3111   6630   3044
2        MIDDLE     Anivia        34   6656   4645   1082   2055   3020
3        BOTTOM   Aphelios       523   6671   6676   3006   1036   1036
4       UTILITY      Leona        89   3190   3117   3859   3067   1027
...         ...        ...       ...    ...    ...    ...    ...    ...
260745      TOP       Gwen       887   4633   3158   1026      0   1056
260746   JUNGLE    Kindred       203   6672   2031      0   3134   2055
260747   MIDDLE        Vex       711   1056   3041   3020   2421   6655
260748   BOTTOM     Samira       360   2031   6673   6676   1055   3047
260749  UTILITY   Nautilus       111      0   3859   3105   3067   3009

        item5  item6   win   vs
0        3111   3364  True   84
1        1028   3364  True   64
2        3070   3363  True   13
3           0   3363  True   29
4           0   3364  True   44
...       ...    ...   ...  ...
260745      0   3364  True   54
260746   3006   3364  True  120
260747   2055   3364  True    7
260748      0   3363  True  145
260749      0   3364  True  526

[260750 rows x 12 columns]

In [16]:
mask = (df.Champ_ID == 887) & (df.vs == 84)
df_sub= df[mask]
df_sub

,Position,Champ_Name,Champ_ID,item0,item1,item2,item3,item4,item5,item6,win,vs
0,TOP,Gwen,887,4633,3115,2421,3916,1055,3111,3364,True,84
4632,TOP,Gwen,887,4633,2420,3089,0,3158,3115,3363,True,84
11480,TOP,Gwen,887,4633,1054,4645,0,0,3158,3364,True,84
11875,TOP,Gwen,887,4633,3089,4645,0,3135,3158,3340,False,84
18705,TOP,Gwen,887,4633,3102,0,4645,3135,3158,3364,True,84
20195,TOP,Gwen,887,1056,4630,1026,3102,4633,3111,3364,True,84
27305,TOP,Gwen,887,2031,1054,3158,3802,1026,1082,3340,False,84
39080,TOP,Gwen,887,4645,3111,1056,0,4633,1058,3364,True,84
51380,TOP,Gwen,887,3135,4633,4645,3165,2055,3158,3364,False,84
80185,TOP,Gwen,887,4645,4633,2421,1052,1054,3111,3364,True,84
126835,TOP,Gwen,887,3158,2420,4645,3108,4633,1056,3364,True,84
250980,TOP,Gwen,887,1056,4633,1052,1082,0,1001,3340,True,84
255070,TOP,Gwen,887,1056,3115,3047,0,4635,0,3340,True,84
256820,TOP,Gwen,887,4645,4633,2420,3108,0,3158,3364,False,84

In [13]:
t = df.keys()[-1]
print('Target Attribute is   ➡ ', t)

# Get the attribute names from input dataset
attribute_names = list(df.keys())

#Remove the target attribute from the attribute names list
attribute_names.remove(t)
attribute_names.remove(df.keys()[0])
attribute_names.remove(df.keys()[1])
attribute_names.remove(df.keys()[2])

print('Predicting Attributes ➡ ', attribute_names)

Target Attribute is   ➡  vs
Predicting Attributes ➡  ['item0', 'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'win']

In [3]:
import math
def entropy(probs):  
    return sum( [-prob*math.log(prob, 2) for prob in probs])

#Function to calulate the entropy of the given Datasets/List with respect to target attributes
def entropy_of_list(ls,value):  
    from collections import Counter
    
    # Total intances associated with respective attribute
    total_instances = len(ls)  # = 14
    print("---------------------------------------------------------")
    print("\nTotal no of instances/records associated with '{0}' is ➡ {1}".format(value,total_instances))
    # Counter calculates the propotion of class
    cnt = Counter(x for x in ls)
    print('\nTarget attribute class count(Yes/No)=',dict(cnt))
    
    # x means no of YES/NO
    probs = [x / total_instances for x in cnt.values()]  
    print("\nClasses➡", max(cnt), min(cnt))
    print("\nProbabilities of Class 'p'='{0}' ➡ {1}".format(max(cnt),max(probs)))
    print("Probabilities of Class 'n'='{0}'  ➡ {1}".format(min(cnt),min(probs)))
    
    # Call Entropy 
    return entropy(probs)

In [4]:
def information_gain(df, split_attribute, target_attribute,battr):
    print("\n\n----- Information Gain Calculation of",split_attribute,"----- ") 
    
    # group the data based on attribute values
    df_split = df.groupby(split_attribute) 
    glist=[]
    for gname,group in df_split:
        print('Grouped Attribute Values \n',group)
        print("---------------------------------------------------------")
        glist.append(gname) 
    
    glist.reverse()
    nobs = len(df.index) * 1.0   
    df_agg1=df_split.agg({target_attribute:lambda x:entropy_of_list(x, glist.pop())})
    df_agg2=df_split.agg({target_attribute :lambda x:len(x)/nobs})
    
    df_agg1.columns=['Entropy']
    df_agg2.columns=['Proportion']
    
    # Calculate Information Gain:
    new_entropy = sum( df_agg1['Entropy'] * df_agg2['Proportion'])
    if battr !='S':
        old_entropy = entropy_of_list(df[target_attribute],'S-'+df.iloc[0][df.columns.get_loc(battr)])
    else:
        old_entropy = entropy_of_list(df[target_attribute],battr)
    return old_entropy - new_entropy

In [5]:
def id3(df, target_attribute, attribute_names, default_class=None,default_attr='S'):
    
    from collections import Counter
    cnt = Counter(x for x in df[target_attribute])# class of YES /NO
    
    ## First check: Is this split of the dataset homogeneous?
    if len(cnt) == 1:
        return next(iter(cnt))  # next input data set, or raises StopIteration when EOF is hit.
    
    ## Second check: Is this split of the dataset empty? if yes, return a default value
    elif df.empty or (not attribute_names):
        return default_class  # Return None for Empty Data Set
    
    ## Otherwise: This dataset is ready to be devied up!
    else:
        # Get Default Value for next recursive call of this function:
        default_class = max(cnt.keys()) #No of YES and NO Class
        # Compute the Information Gain of the attributes:
        gainz=[]
        for attr in attribute_names:
            ig= information_gain(df, attr, target_attribute,default_attr)
            gainz.append(ig)
            print('\nInformation gain of','“',attr,'”','is ➡', ig)
            print("=========================================================")
        
        index_of_max = gainz.index(max(gainz))               # Index of Best Attribute
        best_attr = attribute_names[index_of_max]            # Choose Best Attribute to split on
        print("\nList of Gain for arrtibutes:",attribute_names,"\nare:", gainz,"respectively.")
        print("\nAttribute with the maximum gain is ➡", best_attr)
        print("\nHence, the Root node will be ➡", best_attr)
        print("=========================================================")

        # Create an empty tree, to be populated in a moment
        tree = {best_attr:{}} # Initiate the tree with best attribute as a node 
        remaining_attribute_names =[i for i in attribute_names if i != best_attr]
        
        # Split dataset-On each split, recursively call this algorithm.Populate the empty tree with subtrees, which
        # are the result of the recursive call
        for attr_val, data_subset in df.groupby(best_attr):
            subtree = id3(data_subset,target_attribute, remaining_attribute_names,default_class,best_attr)
            tree[best_attr][attr_val] = subtree
        return tree

In [6]:
#Function to calulate the entropy of the given Dataset with respect to target attributes
def entropy_dataset(a_list):  
    from collections import Counter

    # Counter calculates the propotion of class
    cnt = Counter(x for x in a_list)   
    num_instances = len(a_list)*1.0    # = 14
    print("\nNumber of Instances of the Current Sub-Class is {0}".format(num_instances ))
    
    # x means no of YES/NO
    probs = [x / num_instances for x in cnt.values()]  
    print("\nClasses➡", "'p'=",max(cnt), "'n'=",min(cnt))
    print("\nProbabilities of Class 'p'='{0}' ➡ {1}".format(max(cnt),max(probs)))
    print("Probabilities of Class 'n'='{0}'  ➡ {1}".format(min(cnt),min(probs)))
    
    # Call Entropy
    return entropy(probs) 
    
# The initial entropy of the YES/NO attribute for our dataset.
print("Entropy calculation for input dataset:\n")
print(df['PlayGolf'])

total_entropy = entropy_dataset(df['PlayGolf'])
print("\nTotal Entropy(S) of PlayGolf Dataset➡", total_entropy)
print("=========================================================")
####################################################

from pprint import pprint
tree = id3(df,t,attribute_names)
print("\nThe Resultant Decision Tree is: ⤵\n")
pprint(tree)

attribute = next(iter(tree))
print("\nBest Attribute ➡",attribute)
print("Tree Keys      ➡",tree[attribute].keys())

Entropy calculation for input dataset:

KeyError: 'PlayGolf'