In [1]:
import pandas as pd

df = pd.read_csv("game_data.csv")
print("\n Given Play Golf Dataset:\n\n", df)

 Given Play Golf Dataset:

        Position Champ_Name  Champ_ID  item0  item1  item2  item3  item4  \
0           TOP       Gwen       887   4633   3115   2421   3916   1055
1        JUNGLE    XinZhao         5   6333      0   3111   6630   3044
2        MIDDLE     Anivia        34   6656   4645   1082   2055   3020
3        BOTTOM   Aphelios       523   6671   6676   3006   1036   1036
4       UTILITY      Leona        89   3190   3117   3859   3067   1027
...         ...        ...       ...    ...    ...    ...    ...    ...
260745      TOP       Gwen       887   4633   3158   1026      0   1056
260746   JUNGLE    Kindred       203   6672   2031      0   3134   2055
260747   MIDDLE        Vex       711   1056   3041   3020   2421   6655
260748   BOTTOM     Samira       360   2031   6673   6676   1055   3047
260749  UTILITY   Nautilus       111      0   3859   3105   3067   3009

        item5  item6   win   vs
0        3111   3364  True   84
1        1028   3364  True   64
2        3070   3363  True   13
3           0   3363  True   29
4           0   3364  True   44
...       ...    ...   ...  ...
260745      0   3364  True   54
260746   3006   3364  True  120
260747   2055   3364  True    7
260748      0   3363  True  145
260749      0   3364  True  526

[260750 rows x 12 columns]

In [4]:
cnt = 0
for i in df.Champ_ID.unique():
    for j in  df.vs.unique():
        mask = (df.Champ_ID == i) & (df.vs == j)
        df_sub= df[mask]
        cnt+=1
        print(df_sub)
        dff = df_sub
        break
    break
        
print(cnt)

       Position Champ_Name  Champ_ID  item0  item1  item2  item3  item4  \
0           TOP       Gwen       887   4633   3115   2421   3916   1055
4632        TOP       Gwen       887   4633   2420   3089      0   3158
11480       TOP       Gwen       887   4633   1054   4645      0      0
11875       TOP       Gwen       887   4633   3089   4645      0   3135
18705       TOP       Gwen       887   4633   3102      0   4645   3135
20195       TOP       Gwen       887   1056   4630   1026   3102   4633
27305       TOP       Gwen       887   2031   1054   3158   3802   1026
39080       TOP       Gwen       887   4645   3111   1056      0   4633
51380       TOP       Gwen       887   3135   4633   4645   3165   2055
80185       TOP       Gwen       887   4645   4633   2421   1052   1054
126835      TOP       Gwen       887   3158   2420   4645   3108   4633
250980      TOP       Gwen       887   1056   4633   1052   1082      0
255070      TOP       Gwen       887   1056   3115   3047      0   4635
256820      TOP       Gwen       887   4645   4633   2420   3108      0

        item5  item6    win  vs
0        3111   3364   True  84
4632     3115   3363   True  84
11480    3158   3364   True  84
11875    3158   3340  False  84
18705    3158   3364   True  84
20195    3111   3364   True  84
27305    1082   3340  False  84
39080    1058   3364   True  84
51380    3158   3364  False  84
80185    3111   3364   True  84
126835   1056   3364   True  84
250980   1001   3340   True  84
255070      0   3340   True  84
256820   3158   3364  False  84
1

In [16]:
dfff = dff[['item0','item1','item2','item3','item4','item5','item6']]
dff['item0'].value_counts()

4633    5
1056    3
4645    3
2031    1
3135    1
3158    1
Name: item0, dtype: int64

In [13]:
dfff.nunique()

item0     6
item1     8
item2    10
item3     9
item4     9
item5     8
item6     3
dtype: int64

In [ ]:
df.Champ_ID.unique()

In [ ]:
from sklearn.datasets import load_boston
import xgboost
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import explained_variance_score

boston = load_boston()
X_train, X_test, y_train, y_test = train_test_split(boston.data, boston.target ,test_size=0.1)
xgb_model = xgboost.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)

print(len(X_train), len(X_test))
xgb_model.fit(X_train,y_train)

In [ ]:
xgboost.plot_importance(xgb_model)

In [ ]:
boston.target